@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --bgColor: #fbfbfb;
  --greenColor: #46a358;
  --titleColor: #3d3d3d;
  --preTitleColor: #727272;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Header navbar start */
.wrapper {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.nav-list {
  gap: 50px;
}

.nav-list > div,
.nav-list > div > a {
  padding: 25px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--titleColor);
}

.nav-list > div:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: var(--greenColor);
  padding-bottom: 20px;
  border-bottom: 5px solid #46a358;
}

.nav-login {
  gap: 30px;
}

.login-btn {
  background-color: var(--greenColor);
  padding: 8px 17px;
  gap: 5px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid transparent;
  color: #ffffff;
}

.login-btn:hover {
  background-color: transparent;
  color: var(--greenColor);
  border: 2px solid var(--greenColor);
  cursor: pointer;
}

.login-btn:hover .login-icon path {
  stroke: var(--greenColor);
}

.login-btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}
/* Header navbar end */

/* Modal start */
.modal {
  overflow-x: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 15px 100px;
  border: none;
  border-bottom: 10px solid var(--greenColor);
  border-radius: 6px;
  height: 100%;
  max-height: 605px;
}

.modal::backdrop {
  background-color: rgba(127, 126, 126, 0.5);
}

.modal-close {
  width: 27px;
  float: right;
  margin-right: -85px;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 24px;
}

.modal-close:hover {
  cursor: pointer;
  background-color: rgb(242, 237, 237);
}

.login-title-box {
  margin-top: 40px;
  font-style: normal;
  margin-bottom: 53px;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: var(--titleColor);
}

.login-title-box > p:hover {
  cursor: pointer;
  color: var(--greenColor);
}

.login-title {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 3px solid var(--titleColor);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 14px;
}

.modal-input {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 12px 14px;
  margin-bottom: 17px;
  font-size: 16px;
}

.modal-input:focus {
  outline: 2px solid var(--greenColor);
}

.forgot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--greenColor);
  text-decoration: underline;
  margin-left: auto;
  margin-bottom: 27px;
}

.login-btn2 {
  background: var(--greenColor);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 15px 0;
  border: none;
  margin-bottom: 46px;
  gap: 10px;
}

.or-login-with {
  border: 1px solid #eaeaea;
  position: relative;
  margin-bottom: 27px;
}

.or-login-with > p {
  position: absolute;
  top: -14px;
  left: 32%;
  padding: 2px 5px;
  background-color: white;
}
.google {
  background-color: white;
  margin-bottom: 15px;
  color: #3d3d3d;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.facebook {
  color: #3d3d3d;
  background-color: white;
  margin: 0;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-bottom: 58px;
}

#register-box {
  position: absolute;
  top: 106px;
  z-index: 2;
  visibility: hidden;
  transform: rotateY(180deg);
}

#register-box:target {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 106px;
  z-index: 1;
  visibility: visible;
  transform: rotateY(360deg);
}
.reg > p {
  position: absolute;
  top: -14px;
  left: 28%;
  padding: 2px 5px;
  background-color: white;
}
#register-box:target + #login-box {
  position: absolute;
  top: 106px;
  z-index: 2;
  visibility: hidden;
  transform: rotateY(180deg);
}

#login-box {
  position: absolute;
  top: 106px;
  z-index: 1;
  transform: rotateY(0);
}

#login-box:target {
  display: flex;
  transform: rotateY(360deg);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.register-modal {
  color: black;
  text-decoration: none;
}
.register-modal:focus {
  color: var(--greenColor);
}
.login-modal {
  color: black;
  text-decoration: none;
}
.login-modal:focus {
  color: var(--greenColor);
}

/* Modal end */

/* hero start */
.hero-wrapper {
  margin-top: 12px;
  padding: 0 0 0 43px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  margin-bottom: 46px;
}

.welcome {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 14px;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 10px;
}

.hero-title > span {
  color: var(--greenColor);
}

.hero-desc {
  width: 557px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-bottom: 44px;
}

.hero-btn {
  background: #46a358;
  border-radius: 6px;
  padding: 11px 27px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid transparent;
}

.hero-btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.hero-btn:hover {
  background-color: transparent;
  color: var(--greenColor);
  border: 2px solid var(--greenColor);
  cursor: pointer;
}
/* hero end */

/* content start */

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar {
  background: #fbfbfb;
  width: 310px;
  height: 1254px;
  padding: 14px 18px;
}

.content {
  flex-grow: 1;
  height: 1254px;
}

.sidebar-section-title {
  margin-bottom: 10px;
}

.sidebar-items > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  padding: 0 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: var(--titleColor);
}

.sidebar-items > a:hover {
  color: var(--greenColor);
}

.price-title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3d3d3d;
}

.price-title > span {
  color: var(--greenColor);
}

.price-box {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-range {
  accent-color: var(--greenColor);
  width: 100%;
}

.main-btn {
  width: fit-content;
}

.third {
  margin-top: 46px;
}

.second {
  margin-top: 36px;
}
.reklama {
  width: 100%;
}
.reklama > img {
  width: 100%;
}

.content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-nav-first {
  display: flex;
  gap: 20px;
}

#new-arrivals {
  display: none;
}
#sale {
  display: none;
}

#new-arrivals:target {
  display: flex;
}
#new-arrivals:target ~ #all-plants {
  display: none;
}
#sale:target {
  display: flex;
}
#sale:target ~ #all-plants {
  display: none;
}
/* content end */
